<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="error-template">
				<h1>Oh Error!</h1>
				<img src="../../../assets/images/404-error.gif" alt="error" class="mx-auto">
				<div class="error-details">
					An error occurred, the requested page could not be found.
				</div>
				<div class="error-actions">
					<a routerLink="/home"
						 class="btn btn-primary btn-md" (click)="goHome()">
						Back to Home
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
