<app-layout>
  <div class="bg-blue-50">
    <div
      class="border-x bg-white mx-auto max-w-7xl items-center justify-between md:justify-start md:space-x-10"
    >
      <div class="img-home">
        <img
          src="../../../assets/images/only-me.jpg"
          alt="avatar"
          class="avatar"
        />
        <div class="img-home-text">
          <h1>About Me</h1>
        </div>
      </div>
      <div class="information">
        <div class="max-w-7xl mx-auto py-8 px-2">
          <h1 class="font-extrabold text-[32px] text-center">Information</h1>
          <p class="font-medium text-[16px] mt-2">Hi, I'm Viet Thuan</p>
          <p class="font-medium text-[16px] mt-2">24 years old</p>
          <p class="font-medium text-[16px] mt-2">
            Currenly I'm a Fullstack Developer at @Enlab Software Da Nang
          </p>
          <p class="font-medium text-[16px] mt-2">
            In brief, I am passionate about coding, making products and eager to
            work on new things with creative ideas. This is a website to give
            you informnation about me. Also to show off my productions. Please
            feel free to explore & tell me what you think about it
          </p>
          <p class="font-medium text-[16px] mt-2">
            I am a person who is always searching for, learning new things and
            creating innovative products to promote my own development.
          </p>
          <p class="font-medium text-[16px] mt-2">
            I am not an easier give up person, if I had any problems I can stay
            on my computer and searching, thinking and try to figure it out.
          </p>
          <p class="font-medium text-[16px] mt-2">
            Graduated Software Engineering at @FPT University
          </p>
        </div>
      </div>
      <div class="contact">
        <div class="max-w-7xl mx-auto py-8">
          <h1 class="font-extrabold text-[32px] text-center">Technical</h1>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, mollitia
          voluptatum iusto consequatur distinctio fuga magnam iste minima earum
          nisi et! Ab, quas exercitationem repellat ullam molestias rerum saepe
          delectus?
        </div>
      </div>
      <div class="contact">
        <div class="max-w-7xl mx-auto py-8">
          <h1 class="font-extrabold text-[32px] text-center">Contact</h1>
          <p class="font-medium text-[16px] mt-2 text-center">
            Email: jakes.developer@gmail.com
          </p>
          <p class="font-medium text-[16px] mt-2 text-center">
            Phone: 0769877453
          </p>
          <p class="font-medium text-[16px] mt-2 text-center">
            Address: 259 Le Thanh Nghi St, Hai Chau District, Da Nang City
          </p>
          <div class="social-media-list mt-4 d-flex gap-4 justify-center">
            <div class="social-media-item">
              <a href="https://www.linkedin.com/in/jakesdeveloper/">
                <img src="../../../assets/images/linkedin.png" alt="" />
              </a>
            </div>
            <div class="social-media-item">
              <a href="https://github.com/jakesdev" target="_blank">
                <img src="../../../assets/images/github.png" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="about-me-bg-color row mt-5">
        <h1 class="font-extrabold text-[32px] text-center">Timeline</h1>
        <div class="timeline">
          <section id="cd-timeline" class="cd-container">
            <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-movie"></div>
              <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <h2>Join Enlab Software</h2>
                <div class="timeline-content-info">
                  <span class="timeline-content-info-title">
                    <i class="fa fa-certificate" aria-hidden="true"></i
                    >Fullstack Developer</span
                  >
                  <span class="timeline-content-info-date">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>Jan 2022
                    - Now</span
                  >
                </div>
                <b class="mt-[4px]">
                  Best performance in the third quarter of 2022 and Raising Star
                  of 2022
                </b>
                <p>1. Brand Webapp Builder (Korean Client) - Technical Lead</p>
                <p>
                  2. Career Builder Education System (USA Client) - Full Stack
                  Developer
                </p>
                <p>
                  3. Sales Communication Platform (USA Client) - Front-End
                  Developer
                </p>
                <p>
                  4. Corporate Management Web Application - Front-End Developer
                </p>
                <ul class="content-skills">
                  <li>Angular</li>
                  <li>NestJS</li>
                  <li>AWS</li>
                  <li>Team Leader</li>
                  <li>Best Performer</li>
                  <li>MongoDB</li>
                  <li>RestAPI</li>
                </ul>
                <span class="cd-date">Jan-2022 - Now</span>
              </div>
            </div>
            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-location"></div>
              <div class="cd-timeline-content">
                <h2>Join Rikkeisoft</h2>
                <div class="timeline-content-info">
                  <span class="timeline-content-info-title">
                    <i class="fa fa-certificate" aria-hidden="true"></i
                    >Fullstack Developer</span
                  >
                  <span class="timeline-content-info-date">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>May 2021
                    - Now</span
                  >
                </div>
                <p>1. Making a Human Resource Management Tool for company</p>
                <p>Making API, created Frontend</p>
                <p>Analyze customer requirements</p>
                <ul class="content-skills">
                  <li>Angular</li>
                  <li>Spring Boot</li>
                  <li>MongoDB</li>
                  <li>RestAPI</li>
                </ul>
                <span class="cd-date"> June 2021</span>
              </div>
            </div>
            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-movie"></div>
              <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <h2>Graduated FPT University</h2>
                <div class="timeline-content-info">
                  <span class="timeline-content-info-title">
                    <i class="fa fa-certificate" aria-hidden="true"></i>TOP 5
                    GPA</span
                  >
                  <span class="timeline-content-info-date">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>May
                    2021</span
                  >
                </div>
                <p>
                  During the time I'm studying at FPT Unviersity, I'm claimed a
                  Honorable student certificate - 1% of whole University student
                  for 7 consecutive semester
                </p>
                <p>GPA : 3.3 / 4</p>
                <p>Mathematics for Engineering : 3.44 / 4</p>
                <p>
                  Get my [<a
                    href="https://drive.google.com/file/d/1DH8mCVc6Vj82IIqegf9rvRMJ_0llYdm5/view?usp=sharing"
                  >
                    Academic Transcript</a
                  >]
                </p>
                <span class="cd-date">May 2021</span>
              </div>
            </div>
            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-picture"></div>
              <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <h2>Facy Attendance Project</h2>
                <span class="cd-date">January 2020</span>
                <div class="timeline-content-info">
                  <span class="timeline-content-info-title">
                    <i class="fa fa-certificate" aria-hidden="true"></i
                    >Leader</span
                  >
                  <span class="timeline-content-info-date">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i> Jan 2021
                    - May 2021
                  </span>
                </div>
                <p>Its a Face Recognition Application</p>
                <p>
                  The main idea of our projects is to reduces the manual work of
                  the lectures on taking attendance So we decides to making a
                  system to recognition face of student, after that its send the
                  information to server, its collect and give us an report which
                  student are attendance
                </p>
                <!-- <a href="https://github.com/facy-attendance/attendance-system-by-face-recognition"
                       class="mt-2"
                       target="_blank"
                       style="text-decoration: none; color: white">Github Repository</a> -->

                <ul class="content-skills mt-3">
                  <li>Python</li>
                  <li>OpenCV</li>
                  <li>Keras</li>
                  <li>Tensorflow</li>
                  <li>Google Colab</li>
                  <li>ReactJS</li>
                  <li>NodeJS</li>
                  <li>MongoDB</li>
                </ul>
              </div>
              <!-- cd-timeline-content -->
            </div>
            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-picture"></div>
              <div class="cd-timeline-content">
                <h2>Join FPT Software</h2>
                <span class="cd-date">January 2020</span>
                <div class="timeline-content-info">
                  <span class="timeline-content-info-title">
                    <i class="fa fa-certificate" aria-hidden="true"></i>On Job
                    Traning</span
                  >
                  <span class="timeline-content-info-date">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>Jan 2020
                    - June 2020</span
                  >
                </div>
                <p>Working fulltime at FPT Software as Developer</p>
                <p>
                  I have an opportunity to working at FDN.DSI, doing the real
                  professional project
                </p>
                <p>Convert Flash/Flex to Angular/Typescript languages</p>
                <p>Coding / Unit Test Case</p>
                <ul class="content-skills">
                  <li>HTML5</li>
                  <li>CSS3</li>
                  <li>JavaScript</li>
                  <li>Angular</li>
                  <li>Docker</li>
                </ul>
              </div>
              <!-- cd-timeline-content -->
            </div>
            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-picture"></div>
              <div class="cd-timeline-content">
                <h2>FU Dever Club</h2>
                <span class="cd-date">November 2017</span>
                <div class="timeline-content-info">
                  <span class="timeline-content-info-title">
                    <i class="fa fa-certificate" aria-hidden="true"></i>The
                    Board of Directing</span
                  >
                  <span class="timeline-content-info-date">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>Nov 2021
                    - May 2021</span
                  >
                </div>
                <div class="timeline-content-info">
                  <span class="timeline-content-info-title">
                    <i class="fa fa-certificate" aria-hidden="true"></i>The
                    Advisory Board</span
                  >
                  <span class="timeline-content-info-date">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>May 2021
                    - Now</span
                  >
                </div>
              </div>
              <!-- cd-timeline-content -->
            </div>

            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-picture"></div>
              <div class="cd-timeline-content">
                <h2>Admission to FPT University</h2>
                <span class="cd-date">September 2017</span>
                <div class="timeline-content-info">
                  <span class="timeline-content-info-date">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>Sep 2017
                    - May 2021</span
                  >
                </div>
              </div>
              <!-- cd-timeline-content -->
            </div>
          </section>
          <!-- cd-timeline -->
        </div>
      </div>
    </div>
  </div>
</app-layout>
