<!-- Page Content -->
<app-header></app-header>
<div class="container">
    <div class="row home-container mt-5">
        <div class="mb-4 rounded-3 home-header">
            <div class="container-fluid py-5 gradient-border">
                <h1 class="fw-bold name-font">Nguyen Viet Thuan</h1>
                <h1 class="display-5 fw-bold">Fullstack Developer</h1>
                <div class="social-list mt-5">
                    <ul>
                        <li class="p-4"><i class="fab fa-github"></i></li>
                        <li class="p-4"><i class="fab fa-linkedin"></i></li>
                        <li class="p-4"><i class="fab fa-facebook-square"></i></li>
                    </ul>
                </div>
            </div>
            <div class="about-me mt-5">
                <h1 class="fw-bold">Hi, welcome to my personal website</h1>
            </div>
        </div>
    </div>
</div>