<!-- Page Content -->

<app-header></app-header>
<div class="container">
    <div class="row home-container mt-5">
        <div class="mb-4 rounded-3 home-header">
            <div class="container-fluid py-5 gradient-border">
                <h1 class="fw-bold name-font mt-5">Nguyen Viet Thuan</h1>
                <h1 class="display-5 fw-bold mt-5">Fullstack Developer</h1>
                <div class="social-list mt-5">
                    <ul>
                        <li class="p-4"><i class="fab fa-github"></i></li>
                        <li class="p-4"><i class="fab fa-linkedin"></i></li>
                        <li class="p-4"><i class="fab fa-facebook-square"></i></li>
                    </ul>
                </div>
            </div>
            <div class="about-me">
                <div class="row">
                    <div class="col-12">
                        <h1 style="text-align:center;" class="fw-bold">About Me</h1>
                        <h3 class=" fw-bold mt-5">Welcome to my website, I'm Thuan - Fullstack Developer at Da Nang City</h3>
                        <h3>In brief, I am passionate about coding, making products and eager to work on new things with creative ideas. This is a website to give you informnation about me. Also to show off my productions. Please feel free to explore & tell
                            me what you think about it</h3>
                        <button class="gradient-border p-3 mt-5 btn-about-me">If you want more detail about me? Let's find out</button>
                    </div>
                    <div class="col-12 technology mt-5">
                        <h1 class="fw-bold mt-5">Technology </h1>
                        <div class="mt-5">
                            <img src="../../../assets/images/technology-icon/html.png" alt="html" class="technology-icon">
                            <img src="../../../assets/images/technology-icon/css.png" alt="css" class="technology-icon">
                            <img src="../../../assets/images/technology-icon/javascript.svg" alt="javascript" class="technology-icon">
                            <img src="../../../assets/images/technology-icon/angular.png" alt="angular" class="technology-icon">
                            <img src="../../../assets/images/technology-icon/spring.png" alt="spring" class="technology-icon">
                            <!-- <img src="../../../assets/images/technology-icon/node.png" alt="node" class="technology-icon"> -->
                            <img src="../../../assets/images/technology-icon/mongo.png" alt="mongo" class="technology-icon">
                            <img src="../../../assets/images/technology-icon/git.png" alt="git" class="technology-icon">
                            <!-- <img src="../../../assets/images/technology-icon/docker.png" alt="docker" class="technology-icon"> -->
                            <!-- <img src="../../../assets/images/technology-icon/aws.png" alt="aws" class="technology-icon"> -->
                            <img src="../../../assets/images/technology-icon/microsoft-sql.svg" alt="microsoft-sql" class="technology-icon">
                            <!-- <img src="../../../assets/images/technology-icon/Kubernetes.png" alt="Kubernetes" class="technology-icon"> -->
                            <img src="../../../assets/images/technology-icon/figma.png" alt="figma" class="technology-icon">
                            <img src="../../../assets/images/technology-icon/adobe.png" alt="adobe" class="technology-icon">
                            <img src="../../../assets/images/technology-icon/jira.png" alt="jira" class="technology-icon">
                            <img src="../../../assets/images/technology-icon/redmine.png" alt="redmine" class="technology-icon">
                            <img src="../../../assets/images/technology-icon/sourcetree.png" alt="svn" class="technology-icon">
                            <img src="../../../assets/images/technology-icon/version-control-tortoise-svn.jpg" alt="svn" class="technology-icon">

                        </div>

                    </div>
                </div>
            </div>
            <div class="portfolio">
                <div class="row">
                    <h1 style="text-align:center;" class="fw-bold mt-5">Portfolio</h1>
                    <div class="container row">
                        <div class="card col-xl-5 col-md-12">
                            <div class="box">
                                <div class="content">
                                    <h2>Fullstack Developer</h2>
                                    <h3>*** (November 2021 - Now)</h3>
                                    <p>Migration Struct to Angular / Spring Boot</p>
                                    <!-- <a href="#">Read More</a> -->
                                </div>
                            </div>
                        </div>

                        <div class="card col-xl-5 col-md-12">
                            <div class="box">
                                <div class="content">
                                    <h2>Freelancer</h2>
                                    <h3>Top One (Oct 2021)</h3>
                                    <p>A Landing page to introduce a recruiting company</p>
                                    <!-- <a href="#">Read More</a> -->
                                </div>
                            </div>
                        </div>

                        <div class="card col-xl-5 col-md-12">
                            <div class="box">
                                <div class="content">
                                    <h2>Fullstack Developer</h2>
                                    <h3>HR*** (April 2021 - Oct 2021) </h3>
                                    <p>Making a Human Resource Management for my company</p>
                                    <!-- <a href="#">Read More</a> -->
                                </div>
                            </div>
                        </div>

                        <div class="card col-xl-5 col-md-12">
                            <div class="box">
                                <div class="content">
                                    <h2>Developer</h2>
                                    <h3>FLM*** (Jan 2020 - June 2020)</h3>
                                    <p>Migration ActionScript / FLASH to Typescript / Angular</p>
                                    <!-- <a href="#">Read More</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>