.home-container {
    color: white;
}

.img-home {
    img {
        opacity: 0.15;
    }
    position: relative;
    text-align: center;
    color: white;
    .img-home-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h1 {
            font-family: TheHistoriaDemo;
            font-size: 80px;
        }
        h6 {
            color: #aaa;
        }
    }
}