.footer {
    color: white;
    .social-icons {
        ul {
            list-style-type: none;
        }
        li a {
            color: white;
            transition: color .2s;
            text-decoration: none;
            &:hover {
                text-decoration: none;
                color: #4180CB;
            }
        }
    }
    .about-me {
        i {
            font-size: 25px;
        }
        a {
            color: white;
            transition: color .2s;
            &:hover {
                color: #4180CB
            }
        }
        h1 {
            font-family: TheHistoriaDemo;
            background: linear-gradient(to right, hsl(224, 85%, 66%), hsl(269, 85%, 66%), hsl(314, 85%, 66%), hsl(359, 85%, 66%), hsl(44, 85%, 66%), hsl(89, 85%, 66%), hsl(134, 85%, 66%), hsl(179, 85%, 66%));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .menu {
        i {
            font-size: 18px;
        }
        .menu-item:hover {
            color: #4180CB;
            cursor: pointer;
        }
        ul {
            list-style-type: none;
        }
        li a {
            color: white;
            transition: color .2s;
            text-decoration: none;
            &:hover {
                text-decoration: none;
                color: #4180CB;
            }
        }
    }
    .copyright p {
        border-top: 1px solid rgba(255, 255, 255, .1);
    }
}