<div class="pt-5 pb-5 footer" style="background-color: #0d1220;">
    <div class="container">
        <div class="row">
            <div class="col-6 about-me-footer mt-3">
                <!-- <img src="../../../assets/images/jakes-footer.png" alt="logo"> -->
                <h1 class="p-2">Jakes Nguyen</h1>
            </div>
            <div class="col-6 social-icons mt-3">

                <div class="social">
                    <ul class="social__list list-reset">
                        <li class="social__item">
                            <a class="social__link" href="https://www.linkedin.com/in/jakesdeveloper/" target="_blank" rel="noopener" title="linkedin"><i class="fab fa-linkedin"></i></a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="https://www.facebook.com/Jakes.Official" target="_blank" rel="noopener" title="Facebook"><i class=" fab fa-facebook-square "></i></a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="https://github.com/jakesdev" target="_blank" rel="noopener" title="Git"><i class="fab fa-github-square"></i></a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="https://www.instagram.com/jakes.nguyen/" target="_blank" rel="noopener" title="instagram"><i class="fab fa-instagram-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col copyright">
                <p class=""><small class="text-white-50">2021 <span style="color: white">©Jakes</span>. All Rights Reserved.</small></p>
            </div>
        </div>
    </div>
</div>