<app-header></app-header>
<div class="img-home">
    <img src="../../../assets/images/portfolio.bg.jpg" width="100%" height="620px" alt="" srcset="">
    <div class="img-home-text">
        <h1>Portfolio</h1>
        <h6>Here is a place for me to show you all of my works.</h6>
    </div>
</div>
<div class="album py-5">
    <div class="container">
        <h1 style="color: white">Professional Project</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm bg-card h-100">
                    <img src="../../../assets/images/hrm.png" alt="" class="bd-placeholder-img card-img-top" width="100%" height="225">
                    <div class="card-body">
                        <h3>HR*****</h3>
                        <p class="card-text">Its a professional project when i've worked at Rikkeisoft.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary bg-light">Detail</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm bg-card h-100">
                    <img src="../../../assets/images/flm.png" alt="" class="bd-placeholder-img card-img-top" width="100%" height="225">
                    <div class="card-body">
                        <h3>FLM</h3>
                        <p class="card-text">Its a professional project when i've worked at FPT Software.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary bg-light">Detail</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <h1 style="color: white">Side Project</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm bg-card h-100">
                    <img src="../../../assets/images/web-capstone.png" alt="" class="bd-placeholder-img card-img-top" width="100%" height="225">
                    <div class="card-body">
                        <h3>Facy Attendance</h3>
                        <p class="card-text">Capstone Project using AI to recognize student's face and automatically taking attendance.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" href="https://github.com/facy-attendance/attendance-system-by-face-recognition" target="_blank" class="btn btn-sm btn-outline-secondary bg-light">Github</a>
                                <button type="button" class="btn btn-sm btn-outline-secondary bg-light">Detail</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm bg-card h-100">
                    <img src="../../../assets/images/top-one.png" alt="" class="bd-placeholder-img card-img-top" width="100%" height="225">
                    <div class="card-body">
                        <h3>TopOne Employment Agency</h3>
                        <p class="card-text">A Landing page to introduce a recruiting company.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" href="https://toponeemployment.ca/" target="_blank" class="btn btn-sm btn-outline-secondary bg-light">Visit</a>
                                <button type="button" class="btn btn-sm btn-outline-secondary bg-light">Detail</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm bg-card h-100">
                    <img src="../../../assets/images/bau-cua-tom-ca.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="225">
                    <div class="card-body">
                        <h3>Bau Cua Tom Ca</h3>
                        <p class="card-text">HTML Basic page I've created for fun when its nearly Tet holiday.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href type="button" href="https://baucuatomca.netlify.app/" target="_blank" class="btn btn-sm btn-outline-secondary bg-light">Visit</a>
                                <button type="button" class="btn btn-sm btn-outline-secondary bg-light">Detail</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>