<app-header></app-header>
<div class="img-home">
    <img src="../../../assets/images/portfolio.bg.jpg" width="100%" height="620px" alt="" srcset="">
    <div class="img-home-text">
        <h1>Portfolio</h1>
        <h6>Here is a place for me to show you all of my works.</h6>
    </div>
</div>
<div class="album py-5">
    <div class="container">
        <h1 style="color: white">Professional Project</h1>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col-xl-4 col-md-6 col-sm-12" *ngFor="let item of professionalProjects; index as i;">
                <div class="card shadow-sm bg-card h-100">
                    <img [src]="item.thumbnail" alt="" class="bd-placeholder-img card-img-top" width="100%" height="225">
                    <div class="card-body">
                        <h3>{{item.projectName}}</h3>
                        <p class="card-text">{{item.description}}</p>
                        <div class="bottom d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary bg-light" (click)="openModalProfessionalProject(professionalProject, item.id)">Detail</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container mt-5">
        <h1 style="color: white">Side Project</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col-xl-4 col-md-6 col-sm-12" *ngFor="let item of personalProjects; index as i;">
                <div class="card shadow-sm bg-card h-100">
                    <img [src]="item.thumbnail" alt="" class="bd-placeholder-img card-img-top" width="100%" height="225">
                    <div class="card-body">
                        <h3>{{item.projectName}}</h3>
                        <p class="card-text">{{item.description}}</p>
                        <div class="bottom d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" *ngIf="item.githubLink" [href]="item.githubLink" target="_blank" class="btn btn-sm btn-outline-secondary bg-light">Github</a>
                                <a type="button" *ngIf="item.visitLink" [href]="item.visitLink" target="_blank" class="btn btn-sm btn-outline-secondary bg-light">Visit</a>
                                <button type="button" class="btn btn-sm btn-outline-secondary bg-light" (click)="openModalPersonalProject(sideProject, item.id)">Detail</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

<ng-template #professionalProject>
    <div class="modal-header">
        <h4 class="modal-title pull-left" id="my-modal-title">{{professionalProjectDetail.projectName}}</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                  </button>
    </div>
    <div class="modal-body">
        <div id="my-modal-description" [innerHTML]="professionalProjectDetail.content">
            This is a modal.
        </div>
    </div>

</ng-template>

<ng-template #sideProject>
    <div class="modal-header">
        <h4 class="modal-title pull-left" id="my-modal-title">{{sideProjectDetail.projectName}}</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
          </button>
    </div>
    <div class="modal-body">
        <div id="my-modal-description" [innerHTML]="sideProjectDetail.content">
            This is a modal.
        </div>
    </div>


</ng-template>