<app-header></app-header>
<div class="container about-me-container">
    <div class="row mt-5 about-me">
        <h1 class="fw-bold" style="text-align:center;">About Me</h1>
        <div class="col-xl-5 col-md-12">
            <img src="../../../assets/images/avatar.png" alt="avatar" width="100%" class="avatar">
        </div>

        <div class="col-xl-7 col-md-12 infomartion mt-5">
            <p style="font-size:1.5rem">Hi, I'm Viet Thuan</p>
            <p style="font-size:1.5rem">23 years old</p>
            <p style="font-size:1.5rem">Currenly I'm a Fullstack Developer at <strong>@Rikkeisoft Da Nang</strong></p>
            <p style="font-size:1.5rem">I am a person who is always searching for, learning new things and creating innovative products to promote my own development.</p>
            <p style="font-size:1.5rem">I am not an easier give up person, if I had any problems I can stay on my computer and searching, thinking and try to figure it out.</p>
            <p style="font-size:1.5rem">Graduated <strong>@FPT University</strong></p>
        </div>
        <h1 class="fw-bold mt-5" style="text-align:center;">Contact</h1>
        <div class="col-12 mt-3" style="text-align:center">
            <p style="font-size:1.5rem">Email: jakes.developer@gmail.com</p>
            <p style="font-size:1.5rem">Phone: (076) 987-7453</p>
            <p style="font-size:1.5rem">Address: 259 Le Thanh Nghi St, Hai Chau District, Da Nang City</p>
        </div>
        <div class="col-12">
            <div class="social-list mt-5">
                <ul>
                    <li class=""><i class="fab fa-github"></i><a href="https://github.com/jakesdev" target="_blank"> GitHub</a></li>
                    <li class=""><i class="fab fa-linkedin"></i><a href="https://www.linkedin.com/in/jakesdeveloper/" target="_blank"> LinkedIn</a></li>
                    <li class=""><i class="fab fa-facebook-square"></i><a href="https://www.facebook.com/Jakes.Official/" target="_blank"> Facebook</a></li>
                    <li class=""><i class="fab fa-instagram"></i><a href="https://www.instagram.com/jakes.nguyen/" target="_blank"> Instragram</a></li>
                </ul>
            </div>
        </div>
        <h1 class="fw-bold mt-5" style="text-align:center;">Timeline</h1>
        <div class="timeline">
            time line
        </div>
        <h1 class="fw-bold mt-5" style="text-align:center;">Skill</h1>
        <div class="col-xl-6 col-md-12 skill-item mt-5">
            <h2>Frontend</h2>
            <div>
                <img src="../../../assets/images/technology-icon/html.png" width="150px" height="150px" alt="">
                <img src="../../../assets/images/technology-icon/javascript.svg" width="150px" height="150px" alt="">
                <img src="../../../assets/images/technology-icon/css.png" width="150px" height="150px" alt="">
                <img src="../../../assets/images/technology-icon/angular.png" width="150px" height="150px" alt="">
            </div>
        </div>
        <div class="col-xl-6 col-md-12 mt-5 skill-item">
            <h2>Backend</h2>
            <div>
                <img src="../../../assets/images/technology-icon/spring.png" width="150px" height="150px" alt="spring" class="technology-icon">
                <img src="../../../assets/images/technology-icon/node.png" width="150px" height="150px" alt="node" class="technology-icon">
            </div>
        </div>
        <div class="col-xl-6 col-md-12 skill-item mt-5">
            <h2>Database</h2>
            <div>
                <img src="../../../assets/images/technology-icon/mongo.png" width="150px" height="150px" alt="mongo" class="technology-icon">
                <img src="../../../assets/images/technology-icon/microsoft-sql.svg" width="150px" height="150px" alt="microsoft-sql" class="technology-icon">
            </div>
        </div>
        <div class="col-xl-6 col-md-12 skill-item mt-5">
            <h2>Other</h2>
            <div>
                <img src="../../../assets/images/technology-icon/git.png" width="150px" height="150px" alt="git" class="technology-icon">
                <!-- <img src="../../../assets/images/technology-icon/docker.png" width="150px" height="150px" alt="docker" class="technology-icon"> -->
                <!-- <img src="../../../assets/images/technology-icon/aws.png" width="150px" height="150px" alt="aws" class="technology-icon"> -->
                <!-- <img src="../../../assets/images/technology-icon/Kubernetes.png" width="150px" height="150px" alt="Kubernetes" class="technology-icon"> -->
                <img src="../../../assets/images/technology-icon/figma.png" width="150px" height="150px" alt="figma" class="technology-icon">
                <img src="../../../assets/images/technology-icon/adobe.png" width="150px" height="150px" alt="adobe" class="technology-icon">
                <img src="../../../assets/images/technology-icon/jira.png" width="150px" height="150px" alt="jira" class="technology-icon">
                <img src="../../../assets/images/technology-icon/redmine.png" width="150px" height="150px" alt="redmine" class="technology-icon">
                <img src="../../../assets/images/technology-icon/sourcetree.png" width="150px" height="150px" alt="svn" class="technology-icon">
                <img src="../../../assets/images/technology-icon/version-control-tortoise-svn.jpg" width="150px" height="150px" alt="svn" class="technology-icon">
            </div>
        </div>
        <h1 class="fw-bold mt-5" style="text-align:center;">Portfolio / Project</h1>
        <div class="">
            <h4>Here are some of the most project that I like the most, if you want to see more.</h4>
            <button>Click Here</button>
        </div>

    </div>
</div>
<app-footer></app-footer>