.img-home {
    img {
        opacity: 0.15;
        width: 100%;
        max-height: 620px;
    }
    position: relative;
    text-align: center;
    color: white;
    .img-home-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h1 {
            font-family: TheHistoriaDemo;
            font-size: 80px;
        }
        h6 {
            color: #aaa;
        }
    }
}

.about-me-container {
    color: #b6b5db;
    .about-me {
        padding: 24px;
        border-radius: 10px;
        .about-me-bg-color {
            background: #d1d1d10d;
            border-radius: 10px;
        }
        .timeline {
            .cd-container {
                width: 100%;
                max-width: 1080px;
                margin: 0 auto;
                padding: 0 10%;
                border-radius: 2px;
            }
            .cd-container::after {
                content: '';
                display: table;
                clear: both;
            }
            /* -------------------------------- 
                  
                  Main components 
                  
                  -------------------------------- */
            #cd-timeline {
                position: relative;
                padding: 2em 0;
                margin-top: 2em;
                margin-bottom: 2em;
            }
            #cd-timeline::before {
                content: '';
                position: absolute;
                top: 0;
                left: 25px;
                height: 100%;
                width: 4px;
                background: #7E57C2;
            }
            @media only screen and (min-width: 1170px) {
                #cd-timeline {
                    margin-top: 3em;
                    margin-bottom: 3em;
                }
                #cd-timeline::before {
                    left: 50%;
                    margin-left: -2px;
                }
            }
            .cd-timeline-block {
                position: relative;
                margin: 2em 0;
            }
            .cd-timeline-block:after {
                content: "";
                display: table;
                clear: both;
            }
            .cd-timeline-block:first-child {
                margin-top: 0;
            }
            .cd-timeline-block:last-child {
                margin-bottom: 0;
            }
            @media only screen and (min-width: 1170px) {
                .cd-timeline-block {
                    margin: 4em 0;
                }
                .cd-timeline-block:first-child {
                    margin-top: 0;
                }
                .cd-timeline-block:last-child {
                    margin-bottom: 0;
                }
            }
            .cd-timeline-img {
                position: absolute;
                top: 8px;
                left: 12px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                box-shadow: 0 0 0 4px #7E57C2, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
            }
            .cd-timeline-img {
                background: #673AB7;
            }
            @media only screen and (min-width: 1170px) {
                .cd-timeline-img {
                    width: 30px;
                    height: 30px;
                    left: 50%;
                    margin-left: -15px;
                    margin-top: 15px;
                    /* Force Hardware Acceleration in WebKit */
                    -webkit-transform: translateZ(0);
                    -webkit-backface-visibility: hidden;
                }
            }
            .cd-timeline-content {
                position: relative;
                margin-left: 60px;
                margin-right: 30px;
                background: #333C42;
                border-radius: 2px;
                padding: 1em;
                .timeline-content-info {
                    background: #2a2b2f4d;
                    padding: 5px 10px;
                    color: rgba(255, 255, 255, 0.7);
                    font-size: 12px;
                    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.08);
                    border-radius: 2px;
                    i {
                        margin-right: 5px;
                    }
                    .timeline-content-info-title,
                    .timeline-content-info-date {
                        width: calc(50% - 2px);
                        display: inline-block;
                    }
                    @media (max-width: 500px) {
                        .timeline-content-info-title,
                        .timeline-content-info-date {
                            display: block;
                            width: 100%;
                        }
                    }
                }
                .content-skills {
                    font-size: 12px;
                    padding: 0;
                    margin-bottom: 0;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    li {
                        background: #575b5e;
                        border-radius: 2px;
                        display: inline-block;
                        padding: 2px 10px;
                        color: rgba(255, 255, 255, 0.7);
                        margin: 3px 2px;
                        text-align: center;
                        flex-grow: 1;
                    }
                }
            }
            .cd-timeline-content:after {
                content: "";
                display: table;
                clear: both;
            }
            .cd-timeline-content h2 {
                color: rgba(255, 255, 255, .9);
                margin-top: 0;
                margin-bottom: 5px;
            }
            .cd-timeline-content p,
            .cd-timeline-content .cd-date {
                color: rgba(255, 255, 255, .7);
                font-size: 13px;
                font-size: 0.8125rem;
            }
            .cd-timeline-content .cd-date {
                display: inline-block;
            }
            .cd-timeline-content p {
                margin: 1em 0;
                line-height: 1.6;
            }
            .cd-timeline-content::before {
                content: '';
                position: absolute;
                top: 16px;
                right: 100%;
                height: 0;
                width: 0;
                border: 7px solid transparent;
                border-right: 7px solid #333C42;
            }
            @media only screen and (min-width: 768px) {
                .cd-timeline-content h2 {
                    font-size: 20px;
                    font-size: 1.25rem;
                }
                .cd-timeline-content p {
                    font-size: 16px;
                    font-size: 1rem;
                }
                .cd-timeline-content .cd-read-more,
                .cd-timeline-content .cd-date {
                    font-size: 14px;
                    font-size: 0.875rem;
                }
            }
            @media only screen and (min-width: 1170px) {
                .cd-timeline-content {
                    color: white;
                    margin-left: 0;
                    padding: 1.6em;
                    width: 36%;
                    margin: 0 5%
                }
                .cd-timeline-content::before {
                    top: 24px;
                    left: 100%;
                    border-color: transparent;
                    border-left-color: #333C42;
                }
                .cd-timeline-content .cd-date {
                    position: absolute;
                    width: 100%;
                    left: 122%;
                    top: 6px;
                    font-size: 16px;
                    font-size: 1rem;
                }
                .cd-timeline-block:nth-child(even) .cd-timeline-content {
                    float: right;
                }
                .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
                    top: 24px;
                    left: auto;
                    right: 100%;
                    border-color: transparent;
                    border-right-color: #333C42;
                }
                .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
                    float: right;
                }
                .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
                    left: auto;
                    right: 122%;
                    text-align: right;
                }
            }
        }
    }
    h1 {
        color: white;
    }
    .avatar {
        border-radius: 100%;
    }
    .infomartion {
        padding: 24px;
        a {
            color: white;
            text-decoration: none;
        }
    }
    .social-list {
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            display: inline;
            font-size: 20px;
            padding-left: 10px;
        }
        li a {
            color: white;
            text-decoration: none;
        }
        li:hover {
            transition: color .2s;
            &:hover {
                color: #4180CB
            }
        }
    }
    .skill-item {
        img {
            display: inline-block;
            margin-top: 10px;
            margin-left: 10px;
        }
        .technology-icon {
            padding: 10px;
        }
    }
    .portfolio {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        min-height: 100vh;
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin: 40px 0;
        }
        .container .card {
            position: relative;
            min-width: 320px;
            height: 440px;
            box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
            border-radius: 15px;
            margin: 30px;
            transition: 0.5s;
            background-color: #23622d1c;
        }
        .container .card .box {
            position: absolute;
            top: 20px;
            left: 20px;
            right: 20px;
            bottom: 20px;
            background: #2a2b2f4d;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            transition: 0.5s;
        }
        .container .card .box:hover {
            transform: translateY(-50px);
        }
        .container .card .box:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background: rgba(255, 255, 255, 0.03);
        }
        .container .card .box .content {
            padding: 20px;
            text-align: center;
        }
        .container .card .box .content h2 {
            position: absolute;
            top: 10px;
            right: 30px;
            font-size: 2rem;
            text-wrap: nowrap;
            color: rgba(255, 255, 255, 0.815);
        }
        .container .card .box .content h3 {
            font-size: 1.3rem;
            color: white;
            z-index: 1;
            transition: 0.5s;
            margin-bottom: 15px;
        }
        .container .card .box .content p {
            font-size: 1rem;
            font-weight: 300;
            color: rgba(255, 255, 255, 0.9);
            z-index: 1;
            transition: 0.5s;
        }
        .container .card .box .content a {
            position: relative;
            display: inline-block;
            padding: 8px 20px;
            background: black;
            border-radius: 5px;
            text-decoration: none;
            color: white;
            margin-top: 20px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            transition: 0.5s;
        }
        .container .card .box .content a:hover {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
            background: rgba(73, 72, 72, 0.3);
            color: #000;
        }
    }
}