/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

/* body {
    background-image: url("../src/assets/images/background.jpg");
} */

body {
    background-color: rgb(23, 19, 41);
}

@font-face {
    font-family: TheHistoriaDemo;
    src: url(../src/assets/fonts/TheHistoriaDemo.ttf);
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    body {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: linear-gradient(to top, #abbfd1, #00ffe7);
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #008aff, #00ffe7);
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to top, #008aff, #00ffe7);
}