$color-very-light-blue: #4f46e5;
$color-han-purple: #6B20F7;
$color-mountain-meadow: #28B886;
$color-yellow-orange: #FFAF32;
$color-bittersweet: #FF7456;
$color-dark-sky-blue: #98C1D5;
$color-blue-purple: #AEABEA;

$color-neutral-700: #1E1E20;
$color-neutral-600: #29292B;
$color-neutral-500: #37373B;
$color-neutral-400: #4C4C51;
$color-neutral-300: #74747C;
$color-neutral-200: #B6B6BF;
$color-neutral-100: #DDDDE8;
$color-neutral: #FFFFFF;

$color-semantic-green: #67CE67;
$color-semantic-red: #FF2D55;
$color-light: #F2F2F7;
$color-dark: #1E1E20;
$color-ibory-black: #252527;
$color-custard-cream: #E4BD6D;
$color-pink-muhly: #BD7B6C;
$color-apricot: #E08A5A;
$color-vintage-red: #8C3E33;
$color-dried-leaf: #606454;
$color-teal: #095158;
$color-seafoam: #82A0A0;

$weights: (
  light: 300,
  normal: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  extrabold: 800,
);
$screens: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
