<div class="p-4">
  <div id="box1"
       (mousemove)="mouseMove($event)"
       class="box relative grid grid-cols-2">
    <div class="w-100 h-100 border flex justify-center items-center">
      <div class="w-100 h-100">
        <div class="bg-blue-500 triangle-topleft">
        </div>
      </div>
    </div>
    <div class="w-100 h-100 border flex justify-center items-center">
      <div class="bg-green-500 triangle-topright">
      </div>
    </div>
    <div class="w-100 h-100 border flex justify-center items-center">
      <div class="bg-blue-500 triangle-botleft">
      </div>
    </div>
    <div class="w-100 h-100 border flex justify-center items-center">
      <div class="bg-green-500 triangle-botright">
      </div>
    </div>
  </div>


  Current position: {{currentPosition}}
</div>
